body {
    background: url(../img/fon.jpg);
    height: 900px;
}
.page {
    width: 1001px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 10px rgba(0,0,0,0.9);
    border-bottom: 2px solid black;
    background-color: white;
}
.photo {
    width: 1003px;
    height: 238px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
    margin-bottom: 1px;
}
.photo img {
    width: 1001px;
    height: 238px;
}

/*HEADER*/

.logo img {
    padding: 15px 0 0 15px;
    height: 197px;
    width: 300px;
    margin-bottom: -2px;
}
.info {
    float: right;
}
.contacts {
    width: 130px;
    margin-left: 350px;
    font-size: 12px;
    color: #128aa7;
    padding: 10px 30px 0 0;
}
.contacts, .countries li {
    line-height: 1.5;
    font-family: "Tahoma";
}
.countries {
	display: inline-block;
	width: 485px;
	margin:0;
	box-shadow: none;
	margin-top: 60px;
    margin-left: 25px;
}
.countries ul {
	margin-right: 15px;
}
.countries li {
	display: inline-block;
	width: 62px;
	height: 60px;
	position: relative;
	margin-left: 10px;
}
.countries a {
	font-size: 12px;
	color: #41a1b9;
	position: absolute;
	top: 50px;
}
.countries li:first-child a {
    left: 13px;
}
.countries li:nth-child(2) a, .countries li:nth-child(3) a {
    left: 14px;
}
.countries li:nth-child(4) a {
    left: 16px;
}
.countries li:last-child a {
    left: 4px;
}
.countries li:first-child, .countries li:nth-child(2), .countries li:nth-child(3),
.countries li:nth-child(4), .countries li:nth-child(5), .countries li:nth-child(6) {
    background-repeat: no-repeat;
	background-position: center center;
}
.countries li:first-child {
    background-image: url(../img/india.png);
}
.countries li:nth-child(2) {
    background-image: url(../img/nepal.png);
}
.countries li:nth-child(3) {
    background-image: url(../img/tibet.png);
}
.countries li:nth-child(4) {
    background-image: url(../img/bhutan.png);
}
.countries li:nth-child(5) {
    background-image: url(../img/shrilanka.png);
}
.countries li:last-child {
    background-image: url(../img/maldivy.png);
}
.countries a:hover {
    color: blue;
}

/*CENTER_PANEL*/

.center_panel ul {
    display: block;
    box-shadow: 0 4px 4px rgba(0,0,0,0.7);
}
.center_panel ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
    width: 151px;
    height: 33px;
    border-bottom: 1px solid black;
}
ul.menu > li > a {
    font-size: 14px;
    font-family: "Tahoma";
    display: block;
    padding: 10px 5px 10px;
    color: white;
    background-color: #333333;
    text-decoration: none;
}
ul.submenu {
    display: block;
    position: absolute;
    width: 151px;
    left: -999999px;
    background-color: white;
}
ul.menu > .service {
    width: 105px;
}
.service ul.submenu {
    width: 105px;
}
ul.menu > .partners {
    width: 141px;
}
.service ul.partners {
    width: 141px;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    font-size: 14px;
    font-family: "Tahoma";
    display: block;
    padding: 5px;
    color: white;
    background-color: #333333;
    text-decoration: none;
}
ul.menu > li:hover > ul.submenu {
    display: block;
    left: 0;
}
ul.menu > li:first-child > a {
    padding-left: 50px;
}
.service a {
    padding-left: 30px;
}
ul.menu li:nth-child(6) a {
    padding-left: 40px;
}
.dropdown:after{
	content: '';
    position: absolute;
	top: 16px;
    border: 4px solid transparent;
    border-top: 4px solid white;
}
.journey:after {
	left: 95px;
}
.service:after {
    left: 55px;
}
.partners:after {
    left: 80px;
}

/*CONTENT*/

.content {
    width: 1001px;
    overflow: hidden;
    color: #424c43;
    position: relative;
}
.leftColumn {
    width: 200px;
    float: left;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    margin-top: 5px;
    background: #edeef0;
    border-right: 1px solid #c7cacf;
}
.centerColumn {
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    float: left;
    width: 601px;
}
.rightColumn {
    padding-bottom: 20015px;
    margin-bottom: -20000px;
    margin-top: 5px;
    width: 200px;
    float: right;
    border-left: 1px solid #c7cacf;
    background: #edeef0;
}
.content h1 {
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    font-family: Tahoma;
    font-weight: bold;
    color: #424c43;
}
.content p {
    font-size: 14px;
    color: #424c43;
    line-height: 1.5;
}
.leftColumn p, .rightColumn p {
    padding-left: 15px;
}

/*FOOTER*/
.footer {
    text-align: center;
    color: white;
    font-size: 12px;
    margin: 15px 0;
}
