body {
    background: url(../img/fon.jpg);
    height: 900px;
}
.page {
    margin-left: auto;
    margin-right: auto;
    width: 1001px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.9);
    border-bottom: 2px solid black;
    background-color: white;
}
.photo {
    margin-bottom: 1px;
    width: 1003px;
    height: 238px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
}
.photo img {
    width: 1001px;
    height: 238px;
}

/*HEADER*/

.logo img {
    padding: 15px 0 0 15px;
    margin-bottom: -2px;
    height: 198px;
    width: 300px;
}
.info {
    float: right;
}
.contacts {
    margin-left: 350px;
    padding: 10px 30px 0 0;
    width: 160px;
    font-family: "Tahoma";
    font-size: 14px;
    color: #128aa7;
}
.contacts, .countries li {
    line-height: 1.5;
}
.countries {
    margin-top: 50px;
    margin-left: 50px;
	display: inline-block;
	margin: 0;
	box-shadow: none;
}
.countries ul {
	margin-right: 15px;
}
.countries li {
	display: inline-block;
	width: 68px;
	height: 60px;
	position: relative;
	margin-left: 5px;
}
.countries a {
    font-family: "Tahoma";
	font-size: 12px;
	color: #41a1b9;
	position: absolute;
	top: 50px;
}
.countries li:first-child a, .countries li:nth-child(2) a {
    left: 17px;
}
.countries li:nth-child(3) a {
    left: 18px;
}
.countries li:nth-child(4) a {
    left: 16px;
}
.countries li:last-child a {
    left: 4px;
}

.countries li:first-child, .countries li:nth-child(2), .countries li:nth-child(3),
.countries li:nth-child(4), .countries li:nth-child(5), .countries li:nth-child(6) {
    background-repeat: no-repeat;
	background-position: center center;
}
.countries li:first-child {
    background-image: url(../img/india.png);
}
.countries li:nth-child(2) {
    background-image: url(../img/nepal.png);
}
.countries li:nth-child(3) {
    background-image: url(../img/tibet.png);
}
.countries li:nth-child(4) {
    background-image: url(../img/bhutan.png);
}
.countries li:nth-child(5) {
    background-image: url(../img/shrilanka.png);
}
.countries li:last-child {
    background-image: url(../img/maldivy.png);
}
.countries a:hover {
    color: blue;
}

/*CENTER_PANEL*/

#nav {
    float: left;
    width: 1001px;
    list-style: none;
    margin-bottom: 5px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.7);
}
#nav > li {
    float: left;
    position: relative;
    display: block;
    width: 171px;
}
#nav .service, #nav > li:nth-child(6), #nav > li:nth-child(5), #nav > li:last-child {
    width: 122px;
}
#nav li a {
    font-size: 14px;
    font-family: Tahoma;
    display: block;
    padding: 8px;
    color: white;
    background-color: #333333;
    text-decoration: none;
}
#nav ul {
    list-style: none;
    position: absolute;
    left: -9999px;
    display: block;
    width: 171px;
}
#nav ul li {
    box-shadow: 0 4px 4px rgba(0,0,0,0.7);
}
#nav li:hover ul {
    left: 0;
}
#nav > li:first-child > a {
    padding-left: 50px;
}
.service li {
    width: 122px;
}
.dropdown:after {
	content: '';
    position: absolute;
	top: 14px;
    border: 4px solid transparent;
    border-top: 4px solid white;
}
.journey:after {
	left: 105px;
}
.service:after {
    left: 60px;
}
.partners:after {
    left: 90px;
}

/*CONTENT*/

.content {
    width: 1001px;
    overflow: hidden;
    color: #424c43;
}
.leftColumn {
    float: left;
    border-right: 1px solid #c7cacf;
}
.centerColumn {
    float: left;
    width: 601px;
    background: white;
}
.rightColumn {
    width: 200px;
    border-left: 1px solid #c7cacf;
    float: right;
}
.leftColumn, .rightColumn {
    background: #edeef0;
    width: 200px;
}
.leftColumn, .centerColumn, .rightColumn {
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.content h1 {
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    font-family: Tahoma;
    font-weight: bold;
    color: #424c43;
}
.content p {
    font-family: Tahoma;
    font-size: 14px;
    color: #424c43;
    line-height: 1.5;
}
.leftColumn p, .rightColumn p {
    padding: 0 0 10px 10px;
}

/*FOOTER*/

.footer {
    text-align: center;
    color: white;
    font-size: 12px;
    margin: 15px 0;
}
